@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.textTitle {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;

    font-weight: 400;
    /* Peso regular para boa legibilidade */
    line-height: 1.6;
    /* Espaçamento entre linhas para não “apertar” o texto */
    letter-spacing: 0.5px;
    /* Leve espaçamento entre letras para clareza */
    color: #212121;
    /* Cor quase preta, menos agressiva que #000 */
    background-color: #fafafa;
    /* Fundo claro para contraste suave */
    -webkit-font-smoothing: antialiased;
    /* Suavização de fontes em navegadores WebKit */
    -moz-osx-font-smoothing: grayscale;
    /* Suavização para Firefox/Mac */
}

.label {
    padding-left: 10px;
    padding: 5px;
}

.label b {
    font-family: "Roboto";
}