@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.text {
    font-family: "Roboto";
    font-weight: 500;
    width: 200px;
    padding: 5px;
    display: flex;
    align-items: "center";
    color: white;
    border-radius: 10px;
}