@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.containerMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.containerDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;


}

.isMobile {
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 150px;
    margin: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
    transition: 300ms ease;

    &:active {
        transform: scale(1.1);
    }


}

.isDesktop {
    background-color: rgb(118, 169, 118);
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 15rem;
    margin: 10px;
    cursor: pointer;
    height: 15rem;
    justify-content: center;
    transition: 300ms ease;

    &:active {
        transform: scale(1.1);
    }


}

.title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;

    font-weight: 400;
    /* Peso regular para boa legibilidade */
    line-height: 1.6;
    /* Espaçamento entre linhas para não “apertar” o texto */
    letter-spacing: 0.5px;
    /* Leve espaçamento entre letras para clareza */
    color: #212121;
    /* Cor quase preta, menos agressiva que #000 */
    background-color: #fafafa;
    /* Fundo claro para contraste suave */
    -webkit-font-smoothing: antialiased;
    /* Suavização de fontes em navegadores WebKit */
    -moz-osx-font-smoothing: grayscale;
    /* Suavização para Firefox/Mac */
}