
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.alignCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(76, 175, 80);

}
.buttonLogout {
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 30px;
  backdrop-filter: blur(4px); /* opcional */
  transition: 500ms ease-in-out;
  &:hover{
    background-color: rgba(68, 68, 68, 0.9);
  }
}

.navbar ul {
    margin-left:50px;
    color: white;
     background-color: rgb(76, 175, 80);
    list-style: none;
}

.navbar li{
    font-family: "Roboto";
   font-size: 14px;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: 800ms;
    &:hover{
        transform: scale(1.1);
        border-bottom: 2px solid rgb(15, 92, 0);
    }
}
.footer{
    position:fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #ebebeb;
}
.footerText{
    font-family: "Roboto";
   font-size: 14px;
    display: inline-block;
    margin: 15px;
    color: rgb(46, 46, 46);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
}.buttonDefault{
    border: 0px;
    outline: none;
    cursor: pointer;
    text-align: center;
    height: 50px;
    background-color: transparent;
    cursor: "pointer"; 
}