*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.safeMobile {

  background-color:"white";
  width: 100%;
  padding-top: 20px;

  box-sizing: border-box;  
 
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;

}

.safeDesktop {
  box-sizing: border-box;
  background-color: #ffffffab;
  box-sizing: border-box;
  height: 100vh;

 
}